## EDA Tiller System

### Loading file

Download the lab data by following this [link](https://drive.google.com/file/d/1X5uXVFrl7SuMUKe7CJaiCmGEOhokorh2/view?usp=sharing)

a) Load the Tiller_order_data.csv file into a DataFrame named df

In [17]:
import pandas as pd
import lxml

In [47]:
path = "./Reports[PLT1505_SW_02][7203043102C99][0001213][ParameterTest_RT_Umax][20 14 55][18.04.2018].xml"
xslt ="./SimpleTable.xsl"
lxml.etree
df_stepName = pd.read_xml(path, xpath="//Prop[@Name='StepName']")
df_measurement = pd.read_xml(path, xpath="//Prop[@Name='Status']")

df_measurement

        Name    Type     Flags   Value
0     Status  String       0x0  Failed
1     Status  String       0x0  Passed
2     Status  String       0x0  Failed
3     Status  String       0x0  Passed
4     Status  String  0x400000    Done
...      ...     ...       ...     ...
1577  Status  String  0x400000  Failed
1578  Status  String       0x0  Passed
1579  Status  String  0x400000    Done
1580  Status  String  0x400000  Failed
1581  Status  String  0x400000  Failed

[1582 rows x 4 columns]

### Data Discovery

b) Display the first 5 rows of this dataframe

c) What does a row of this dataframe represent? What information can you find?

d) How many orders are there in this dataframe? How many columns?

#### Column selection

e) Select only the id_order, id_store, date_opened and date_closed columns of this DataFrame and save the result in a variable df_sub

#### Row selection

f) Filter df_sub only on lines concerning id_store 4542. How many orders have there been in this restaurant?

### Data analysis

g) Going back to the initial DataFrame, what are the different possible statuses of an order? How many orders are there per status?

h) What is the proportion of orders whose status is CLOSE?

i) How many restaurants are there in this data? What are their IDs?

j) Calculate the turnover per restaurant. Which restaurant has the highest turnover?

k) Count the number of orders per restaurant. Which restaurant had the most orders in this data? Is it the same as the one with the highest turnover?

l) Calculate the average price of an order for each restaurant. Do you think you face the same types of restaurants?

m) The problem is that an order can be placed for several people. We rather want to know the price spent on average by a person in the restaurant.

From the initial dataframe, add a column representing the price of the order per customer

n) Using the previous column, calculate the average price spent by each person in each of the restaurants.

o) It seems that there are data problems because for some restaurants the average price is lower ...

Do you have any idea why?

Replace the values ​​at 0 in the m_nb_customer column with 1 then delete the rows whose m_cached_price column is at 0

p) Recalculate the price_per_customer column and the average price spent by each person in a restaurant

### Temporal analysis

Restaurant 7965 has a higher price per person than the rest. Let's look at the time spent at the table to find out if this can correspond to a large restaurant.

q) Convert date_opened and date_closed columns to datetime format

r) Run the code below to calculate the time spent between the open and close date of an order in minutes.

In [ ]:
df["order_duration"] = (df.date_closed - df.date_opened).dt.total_seconds() / 60

s) Calculate the average time at the table for each of the restaurants.

It seems that there are no fast food type restaurants! Open order durations are relatively short.

### Join operations

t) Download data from [order_line](https://drive.google.com/file/d/1G7Jbq_m-tJrHRhL-44j8XFOVs_zPil_9/view?usp=sharing) and [store_data](https://drive.google.com/file/d/1W032PaySL7gouyX3bEKgndtm6qVta7Qp/view?usp=sharing). Load them in Python.

u) What new information do you have access to thanks to this data?

v) How many orders were placed in the 2nd arrondissement of Paris? It will take merging store_data with the seed data to answer it.

w) Take restaurant 1796. Its average order time was very short.

Show the most ordered items in this restaurant. To do this keep only the id_store and id_order columns of order_data and the id_order, id_order_line and dim_name columns of order_line.

Be careful, the dim_name column exists both in order_data and in order_line.

Is it a fast lunch restaurant in your opinion?

### Data cleaning

x) [More difficult] The dim_name column of order_data data is unstructured because it is a free field. We want to clean it by creating a new "processed_dim_name" column with:

- Any value composed solely of numbers, whether or not preceded by a capital letter (example: B124, A7, 42) will be categorized as "Code"
- Any value including "TheFork" will be categorized as "TheFork"
- All remaining values ​​will be categorized as "Person"
- Empty values ​​or character strings containing only spaces will be put empty

You can look at the `pd.isna()` function, the regex with the `re` library.

y) To meet the needs of a team, we want to calculate the number of orders per restaurant and processed_dim_name. Create this dataframe.

z) Save the new dataframe in csv. Don't back up your dataframe's index.