# Introduction to Python

To implement today's course on Python, you will start with simple exercises then you will move on to analyzing a json file, a typical format that you will find in a company, especially when using APIs.

Your turn! And remember, if you get stuck, search, ask questions, have fun! We are all here to learn and practice.

## 1) Introductory exercises

### Create conditions

a) Create a new variable `e` equal to 20 and create a condition that will display "strictly greater than 5" if this variable is indeed strictly greater than 5.

Take a good look in your course at how the syntax of a condition is written.

In [28]:
#Let's try it 
e =20
if e >5:
    print(f'{e} is strictly greater than 5')
    print(str(e) +' is strictly greater than 5')

20 is strictly greater than 5
20 is strictly greater than 5

b) Complete the preceding code to display "less than or equal to 5" otherwise.

In [29]:
if e<=5 :
    print('{e} is less than or equal to 5')

In [34]:
#Let's try it 
e =6
if e >5:
    print(f'{e} is strictly greater than 5')
elif e<=5 :
    print(f'{e} is less than or equal to 5')
# else :
#     print('{e} is less than or equal to 5')

6 is strictly greater than 5

c) Create a function taking a variable e as input and returning the associated text according to its value. Then test your code on several values ​​of `e`.

In [48]:
#Let's try it 
def getVariable(e):
    #message = ''
    if e >5:
        message = f'{e} is strictly greater than 5'
#         print(f'{e} is strictly greater than 5')
    else :
        message = f'{e} is strictly greater than 5'
#         print(f'{e} is less than or equal to 5')
    return message
        
returnValue = getVariable(8)
returnValue

'8 is strictly greater than 5'

In [41]:
input = 'Phuong'
print(f'{input} is your name')

Phuong is your name

### List manipulation

a) Execute list creation below

In [53]:
l = [3, 5, 12, 7, 4, 36, 37, 38]

b) Display the length of the `l` list

In [57]:
#Let's try it 
length = len(l)
print(f'here is the length of array: {length}')

here is the length of array: 8

c) Display the first item in the list

In [63]:
#Let's try it 
firstItem = l[0]
print(f'This is the first item in the list: {l[0]}')

This is the first item in the list: 3

d) Add 296 to the `l` list.

Check it by displaying the list.

In [66]:
#Let's try it
l.append(100)
l.append(296)
#show l
l

[3, 5, 12, 7, 4, 36, 37, 38, 100, 296, 100, 296, 100, 296]

### Manipulating dictionaries

a) Run the code below to initialize the dictionary d.

In [67]:
d = {
    "A": "voiture",
    "B": 2,
    "C": "vélo"
}

b) Display the dictionary keys

In [70]:
#Let's try it 
d.values()
d.keys()

dict_keys(['A', 'B', 'C'])

c) Display the value of the key "C"

In [73]:
#Let's try it :-) 
print(f'this is the value of A:  {d["A"]}')

this is the value of A:  voiture

d) Add a new key "D" containing 8. Display the dictionary to check.

In [76]:
#Let's try it 
# question: are there differences between "" and '' ?
d["newKey"] = 'new'
d["D"] = 8
print(d)

{'A': 'voiture', 'B': 2, 'C': 'vélo', 'newKey': 'new', 'D': 8}

### Manipulation of more complex objects

Consider the following company_info variable:

In [2]:
company_info = {
    "id": 232,
    "address": "12 rue de clichy",
    "postcode": "Paris",
    "country": "France",
    "name": "18 avenue",
    "employees": [
        {
            "id": 12,
            "name": "Paul",
            "family_name": "Mochkovitch"
        },
        {
            "id": 13,
            "name": "Sophie",
            "family_name": "Durand"
        }
    ]
}

Observe the importance of indentation for ease of reading. We could have written company_info like this:

In [78]:
company_info = {'id':232,'address':'12 rue de clichy','postcode':'Paris','country':'France','name':'18 avenue','employees':[{'id':12,'name':'Paul','family_name':'Mochkovitch'},{'id':13,'name':'Sophie','family_name':'Durand'}]}

a) Count and display the keys of this dictionary.

In [82]:
#Let's try it :-) 
#get keys for print
keys = company_info.keys()
#get count for print 
count = len(keys)
#print count and keys
print(f"There are {count} keys with following key names: {keys}")

There are 6 keys with following key names: dict_keys(['id', 'address', 'postcode', 'country', 'name', 'employees'])

b) What is the type of the value associated with the employees key?

In [11]:
#Let's try it :-) 
# get the type of key employees
type(company_info["employees"])

list

The value associated with the key employees is itself a collection of elements of type list.

c) Display the length of the employees key value. How many employees are there?

In [84]:
#Let's try it :-) 
len(company_info["employees"])

2

d) Display the information of the first employee

In [83]:
#Let's try it :-) 
company_info["employees"][0]

{'id': 12, 'name': 'Paul', 'family_name': 'Mochkovitch'}

In [85]:
company_info["employees"][0]["id"]

12

In [ ]:
string = "i dont't want to code"

## 2) Creation of functions

a) Write the function **convert_to_seconds(nb_hours, nb_minutes, nb_seconds)** which takes as parameters a number of hours, minutes and seconds and returns the total number of seconds.

Examples:

convert_to_seconds(2, 4, 0) = 7440

convert_to_seconds(1, 1, 1) = 3661

In [ ]:
def convert_to_seconds(nb_hours, nb_minutes, nb_seconds):

    # to do

    return nb_seconds_total

print(convert_to_seconds(2, 4, 0))
print(convert_to_seconds(1, 1, 1))

7440
3661

In [24]:
#let's give it a try :-) 
def convert_to_seconds(nb_hours, nb_minutes, nb_seconds):

    #convert hours into seconds
    nb_hoursInSeconds = nb_hours*3600
    #convert minutes into seconds
    nb_minutesInSeconds = nb_minutes*60
    #calculate sum of seconds
    nb_seconds_total = nb_hoursInSeconds + nb_minutesInSeconds + nb_seconds

    return nb_seconds_total

print(convert_to_seconds(2, 4, 0))
print(convert_to_seconds(1, 1, 1))

7440
3661

b) Write the function **compute_elapsed_time(nb_hours_start, nb_minutes_start, nb_seconds_start,
                                          nb_hours_end, nb_minutes_end, nb_seconds_end)** which takes as parameters, a start and end time and calculates the number of seconds between these two times. We will assume that the end time will always be after the start time.

Consider using the previous function...

Examples:

compute_elapsed_time(1, 0, 0, 2, 0, 0) = 3660

compute_elapsed_time(2, 4, 0, 2, 4, 0) = 0

In [ ]:
def compute_elapsed_time(nb_hours_start, nb_minutes_start, nb_seconds_start,
                         nb_hours_end, nb_minutes_end, nb_seconds_end):

    # to do

    return nb_seconds_elapsed

print(compute_elapsed_time(1, 0, 0, 2, 0, 0))
print(compute_elapsed_time(2, 4, 0, 2, 4, 0))

3600
0

In [25]:
#let's give it a try :-) 
def compute_elapsed_time(nb_hours_start, nb_minutes_start, nb_seconds_start,
                         nb_hours_end, nb_minutes_end, nb_seconds_end):
    
    #convert to seconds
    nb_seconds_start = convert_to_seconds(nb_hours_start, nb_minutes_start, nb_seconds_start)
    nb_seconds_end = convert_to_seconds(nb_hours_end, nb_minutes_end, nb_seconds_end)
    #calculate elapsed time
    nb_seconds_elapsed = nb_seconds_end - nb_seconds_start

    return nb_seconds_elapsed

print(compute_elapsed_time(1, 0, 0, 2, 0, 0))
print(compute_elapsed_time(2, 4, 0, 2, 4, 0))

3600
0

## 3) Data Cleaning

In this part, we will see how to clean up text in Python. These different functions can be used in your DataFrames via lambda functions.

a) Study the [split](https://www.w3schools.com/python/ref_string_split.asp) function. Transform the following string s representing the different tags of a Shapr user into a variable l of type list.

In [91]:
s = "Startups;Technology;ClimateChange;Fashion"

['Startups', 'Technology', 'ClimateChange', 'Fashion']

In [93]:
#let's give it a try :-) 
splitted = s.split(";")
print(splitted)

['Startups', 'Technology', 'ClimateChange', 'Fashion']

b) From there how would you retrieve the second tag?

'Technology'

In [95]:
#let's give it a try :-) 
splitted[1]

'Technology'

c) To concatenate several string together, we can use in Python the "+" sign.

Be careful, it is not possible to concatenate numbers with text if they are not converted to string first.

To do this, you must use the `str()` function which converts the value between parentheses into a string.

Concatenate the different strings below to reconstitute the sentence.

In [32]:
s1 = "In "
s2 = 2020
s3 = ","
s4 = "the American presidential elections will take place."

En 2020, les élections présidentielles américaines auront lieu.

In [33]:
#give it a try :-) 
output = s1 + str(s2) + s3 + s4
print(output)

In 2020,the American presidential elections will take place.

d) A string is nothing more in Python than a list of characters.

If we want to retrieve only the first 3 characters of this string for example, we just need to retrieve the first 3 elements of the list.

For the following strings, use this technique to remove the word "TODELETE".

In [34]:
s1 = "TODELETEThe bird is beautiful" # can be seen as ["T", "O", "D", "E" ... ]
s2 = "The bird is beautifulTODELETE"

In [37]:
toDeletedString = "TODELETE"
length_OfToDeletedString = len(toDeletedString)
s1_length = len(s1)
s2_length = len(s2)
print(s1[length_OfToDeletedString:s1_length])
print(s2[0:(s1_length-length_OfToDeletedString)])

The bird is beautiful
The bird is beautiful

s1 = "TODELETEth" # can be seen as ["T", "O", "D", "E" ... ]
s2 = "the bird is beautifulTODELETE"

e) A very practical function in Python allows you to remove hidden characters (spaces, tabs, etc.) at the beginning or end of a word.

Study the strip functions: [following](https://www.journaldev.com/23625/python-trim-string-rstrip-lstrip-strip) and remove the extra characters from the following strings.

In [44]:
s1 = "       the dog"
s2 = "the cat    "

In [50]:
print(f'"{s1}", "{s2}"')

"       the dog", "the cat    "

In [51]:
s1_cleaned = s1.strip()
s2_cleaned = s2.strip()
print(f'"{s1_cleaned}", "{s2_cleaned}"')

"the dog", "the cat"

f) To replace a value in a string, it will be necessary to use the function [following](https://www.geeksforgeeks.org/python-string-replace/).

Use it to replace the word "TOREPLACE" the following strings with an empty string "".

Attention, for the last string, we want to replace only the first appearance of the word!

In [52]:
s1 = "dogTOREPLACE"
s2 = "TOREPLACE catTOREPLACE"
s3 = "TOREPLACEcats TOREPLACE and dogs" # only replace the first

In [54]:
s1.replace("TOREPLACE","")

'dog'

In [55]:
s2.replace("TOREPLACE","")

' cat'

In [59]:
s3.replace("TOREPLACE","",1)

'cats TOREPLACE and dogs'

For more complex manipulations of the text in Python, it will be necessary to use regex which are outside the program of this training.

## 4) API data retrieval

### Government API

On the website [api.gouv.fr](https://api.gouv.fr/)
, find the API of the National Address Database and query it to find the GPS coordinates of the address of 10 boulevard Montmartre in Paris, 9th arrondissement. You can then reuse these GPS coordinates to check on Google Maps.

You can reuse your code to test other addresses, for example your home address and check that Google Maps points to your home!

In [60]:
import requests

In [ ]:
adresse = "10 boulevard Montmartre Paris 9e".replace(" ", "+")
params = # to do
url = # to do
response = requests.request("GET", url, params = params)

In [81]:
#let's try it
#from https://adresse.data.gouv.fr/api-doc/adresse
adresse = "10 boulevard Montmartre Paris 9e".replace(" ", "+")
#adresse = "10 boulevard Montmartre Paris 9e"

params = {"q": adresse, "limit":1}
url = "https://api-adresse.data.gouv.fr/search"
#call the request and get the response
response = requests.request("GET", url, params = params)
#get the coordinates from json dictionary, see below response.json()
response.json()["features"][0]["geometry"]["coordinates"]

[2.341972, 48.871839]

In [69]:
response.json()

{'type': 'FeatureCollection',
 'version': 'draft',
 'features': [{'type': 'Feature',
   'geometry': {'type': 'Point', 'coordinates': [2.341972, 48.871839]},
   'properties': {'label': '10 Boulevard Montmartre 75009 Paris',
    'score': 0.7953265689149559,
    'housenumber': '10',
    'id': '75109_6510_00010',
    'name': '10 Boulevard Montmartre',
    'postcode': '75009',
    'citycode': '75109',
    'x': 651732.7,
    'y': 6863735.92,
    'city': 'Paris',
    'district': 'Paris 9e Arrondissement',
    'context': '75, Paris, Île-de-France',
    'type': 'housenumber',
    'importance': 0.61956,
    'street': 'Boulevard Montmartre'}}],
 'attribution': 'BAN',
 'licence': 'ETALAB-2.0',
 'query': '10 boulevard Montmartre Paris 9e',
 'limit': 1}

[url google maps](https://www.google.fr/maps/place/48%C2%B052'18.6%22N+2%C2%B020'31.1%22E/@48.8717039,2.3418571,17z/data=!4m13!1m7!3m6!1s0x0:0x533040edbd595561!2zNDjCsDUyJzE4LjYiTiAywrAyMCczMS4xIkU!3b1!8m2!3d48.871839!4d2.341972!3m4!1s0x0:0x533040edbd595561!8m2!3d48.871839!4d2.341972)

## 5) Exploitation of API results: from JSON to CSV format

Below, we'll process the results of an API that returns info about all companies that contain the word "microsoft". The end goal is to move from a json format to a csv format with all the main company information. Using Python here allows you to select the information you want and potentially apply processing to it.

The resulting csv file can be used more easily by other teams.

a) Download the `microsoft_companies.json` file.

*microsoft_companies.json*: [link](https://drive.google.com/file/d/1Zrja9KY-05u8XsGfK-P97zGa-NyipS49/view?usp=sharing)

b) Import the file in Python with the help of the code below.

In [82]:
import json

with open('microsoft_companies.json', encoding = "utf-8") as json_file:
    microsoft_companies = json.load(json_file)

b) What is the type of the `microsoft_companies` variable?

<class 'list'>

In [83]:
#let's try
type(microsoft_companies)

list

c) How many companies are there in this list?

301

In [85]:
#let's try
len(microsoft_companies)

301

d) Look at the first item in this list. What type is it?

In [86]:
microsoft_companies[0]

{'datasetid': 'companies-on-linkedin',
 'recordid': 'c4d310fc0f0f277e574e20f5e2185d4765a1ab3f',
 'fields': {'total_employee_estimate': 44,
  'size_range': '11 - 50',
  'industry': 'computer games',
  'linkedin_url': 'https://www.linkedin.com/company/develop-magazine',
  'domain0': 'https://www.develop-online.net',
  'current_employee_estimate': 6,
  'name': 'microsoft'},
 'record_timestamp': '2019-06-03T09:35:00+02:00'}

In [87]:
type(microsoft_companies[0])

dict

e) For this first item, display the company name, industry, domain and total number of employees.

In [88]:
#Let's try
print(microsoft_companies[0]["fields"]["name"])
print(microsoft_companies[0]["fields"]["industry"])
print(microsoft_companies[0]["fields"]["domain0"])
print(microsoft_companies[0]["fields"]["total_employee_estimate"])

microsoft
computer games
https://www.develop-online.net
44

f) Do you think that this "microsoft" company is the American multinational?

??? think so, yes.??? what to code here ?

g) It would therefore seem that there are homonyms.

Create a new empty list and add all companies whose names are exactly "microsoft".

To do this, you will have to loop through all the companies and use a condition to verify that their names are indeed "microsoft". If this is then the case, the company information will be added to the empty list (the entire dictionary).

How many are there?

In [ ]:
exact_microsoft_companies = []

for company_info in microsoft_companies:
    # to do

print(len(exact_microsoft_companies))

6

In [91]:
#Let's try it!
searchedCompany = "microsoft"
exact_microsoft_companies = []
#loop for all companies
for company_info in microsoft_companies:
    #check if name of current company is the required one
    if company_info["fields"]["name"] == searchedCompany:
        #if yes, add it to the list
        exact_microsoft_companies.append(company_info)

print(len(exact_microsoft_companies))

6

h) Among the results obtained, do you see the American multinational?

You can run the code below to then use the `pprint` function to indent the info display.

It is used like the print function.

In [92]:
from pprint import pprint

In [93]:
pprint(exact_microsoft_companies)

[{'datasetid': 'companies-on-linkedin',
  'fields': {'current_employee_estimate': 6,
             'domain0': 'https://www.develop-online.net',
             'industry': 'computer games',
             'linkedin_url': 'https://www.linkedin.com/company/develop-magazine',
             'name': 'microsoft',
             'size_range': '11 - 50',
             'total_employee_estimate': 44},
  'record_timestamp': '2019-06-03T09:35:00+02:00',
  'recordid': 'c4d310fc0f0f277e574e20f5e2185d4765a1ab3f'},
 {'datasetid': 'companies-on-linkedin',
  'fields': {'country': 'united states',
             'current_employee_estimate': 116196,
             'domain0': 'https://www.microsoft.com',
             'industry': 'computer software',
             'linkedin_url': 'https://www.linkedin.com/company/microsoft',
             'locality': 'redmond,washington,united states',
             'name': 'microsoft',
             'size_range': '10001+',
             'total_employee_estimate': 276983,
             'year_founded': '1975'},
  'record_timestamp': '2019-06-03T09:35:00+02:00',
  'recordid': 'd8611a51def434f1049b899a99d8a589fbb7b9c1'},
 {'datasetid': 'companies-on-linkedin',
  'fields': {'current_employee_estimate': 1,
             'domain0': 'https://www.',
             'industry': 'computer software',
             'linkedin_url': 'https://www.linkedin.com/company/microsoft-cyprus',
             'name': 'microsoft',
             'size_range': '1 - 10',
             'total_employee_estimate': 5,
             'year_founded': '1975'},
  'record_timestamp': '2019-06-03T09:35:00+02:00',
  'recordid': 'a5140838fb9ffcda43fa4b8f35cd13ed2abe67f7'},
 {'datasetid': 'companies-on-linkedin',
  'fields': {'current_employee_estimate': 6,
             'domain0': 'https://www.',
             'industry': 'computer software',
             'linkedin_url': 'https://www.linkedin.com/company/microsoft-2',
             'name': 'microsoft',
             'size_range': '11 - 50',
             'total_employee_estimate': 9},
  'record_timestamp': '2019-06-03T09:35:00+02:00',
  'recordid': 'be50e923df54801d559eb644eac1580f92052573'},
 {'datasetid': 'companies-on-linkedin',
  'fields': {'current_employee_estimate': 0,
             'domain0': 'https://www.microsoftaaas.com',
             'industry': 'management consulting',
             'linkedin_url': 'https://www.linkedin.com/company/microsoft-alliance-as-a-service',
             'name': 'microsoft',
             'size_range': '1 - 10',
             'total_employee_estimate': 3,
             'year_founded': '2012'},
  'record_timestamp': '2019-06-03T09:35:00+02:00',
  'recordid': '998d5e4e4bebfdb1a2af75f3b3014ddb1377c736'},
 {'datasetid': 'companies-on-linkedin',
  'fields': {'country': 'india',
             'current_employee_estimate': 1,
             'domain0': 'https://www.maziksolutions.com',
             'industry': 'information technology and services',
             'linkedin_url': 'https://www.linkedin.com/company/mazik-solutions-pvt-ltd',
             'name': 'microsoft',
             'size_range': '1 - 10',
             'total_employee_estimate': 4,
             'year_founded': '2010'},
  'record_timestamp': '2019-06-03T09:35:00+02:00',
  'recordid': '694e5569ffadbee848f1c3ab7a180f158a5506be'}]

Yes, the one with 276,983 employees.

i) To facilitate the work of the other teams, we will translate the number of employees into categories. For this, we will use the following correspondences:
   - less than 5: "small business"
   - from 5 to 30: "startup"
   - from 30 to 200: "scaleup"
   - from 200 to 1000: "big companies"
   - more than 1000: "very large companies"


Write a function with one parameter, representing the number of employees, that returns its corresponding category.

Don't forget to return the corresponding category at the end of your function using the keyword **return**. Take a good look at the syntax of functions in your course.

In [ ]:
def from_nb_employee_to_category(total_employee):

    # to do

    return category

print(from_nb_employee_to_category(23))

startup

In [99]:
def from_nb_employee_to_category(total_employee):

    #less than 5: "small business"
    if total_employee < 5:
        category = "small business"
    # from 5 to 30: "startup"
    if total_employee >= 5 and total_employee< 30:
        category = "startup"
    # from 30 to 200: "scaleup"
    if total_employee >= 30 and total_employee< 200:
        category = "scaleup"
    # from 200 to 1000: "big companies"
    if total_employee >= 200 and total_employee< 1000:
        category = "big companies"
    # more than 1000: "very large companies"
    if total_employee >= 1000:
        category = "very large companies"
    return category

print(from_nb_employee_to_category(1001))

very large companies

In [100]:
print(from_nb_employee_to_category(4))

small business

In [101]:
print(from_nb_employee_to_category(29))

startup

In [102]:
print(from_nb_employee_to_category(199))

scaleup

In [103]:
print(from_nb_employee_to_category(999))

big companies

j) We are going to browse all the companies of the starting file.

We will create an empty list which will record all the information on each of the companies as we go along.

We will then make a loop to browse all the companies and retrieve for each of them its name, its industry, its domain and the category of company in relation to its number of employees (thanks to your previous function) in a dictionary.

At each company browsed, we will save its dictionary of information in the list that we had initialized. At the end, the list will contain all the dictionaries of all the companies.

Complete the code below to achieve this.

In [ ]:
# empty list that will store the information
microsoft_companies_clean = []

# for each company
for company_info in microsoft_companies:

    # creates a dictionary of its information
    dic_company = {
        "name": # to do,
        "industry": # to do,
        "domain": # to do,
        "cat_company": # to do
    }

    # saves the result
    microsoft_companies_clean.append(dic_company)

microsoft_companies_clean[0]

{'cat_company': 'scaleup',
 'domain': 'https://www.develop-online.net',
 'industry': 'computer games',
 'name': 'microsoft'}

In [104]:
#Let' try it!!
# empty list that will store the information
microsoft_companies_clean = []

# for each company
for company_info in microsoft_companies:

    # creates a dictionary of its information
    dic_company = {
        "name": company_info["fields"]["name"],
        "industry": company_info["fields"]["industry"],
        "domain": company_info["fields"]["domain0"],
        "cat_company": from_nb_employee_to_category(company_info["fields"]["total_employee_estimate"])
    }

    # saves the result
    microsoft_companies_clean.append(dic_company)

microsoft_companies_clean[0]

{'name': 'microsoft',
 'industry': 'computer games',
 'domain': 'https://www.develop-online.net',
 'cat_company': 'scaleup'}

k) Run the code below. What do you see output?

In [105]:
import pandas as pd

df_microsoft_companies_clean = pd.DataFrame(microsoft_companies_clean)
df_microsoft_companies_clean

,name,industry,domain,cat_company
0,microsoft,computer games,https://www.develop-online.net,scaleup
1,omaha microsoft technology group,information technology and services,https://www.omahamtg.com,small business
2,microsoft alumni network ambassadors,non-profit organization management,https://www.,small business
3,scbn | microsoft certified professional - goog...,internet,https://www.scbn.biz,startup
4,locatelli mcc - designing domotica (voip) solu...,information technology and services,https://www.locatelli-mcc.com,small business
...,...,...,...,...
296,pmx dynamics-business software for the real es...,information technology and services,https://www.pmxdynamics.com,startup
297,microsoft game studios,computer software,https://www.,startup
298,microsoft alumni foundation,philanthropy,https://www.microsoftalumni.org,startup
299,naveksa a/s - manufacturing solutions for micr...,computer software,https://www.,small business
300,f-keys ltd microsoft training centre,information technology and services,https://www.f-keys.co.uk,startup

Congratulation ! Here is your first DataFrame. It is a data structure based on the relational model.

The DataFrame is a much more practical format for the exploitation of data that you will see in detail in the next two lessons!

## 6) [Bonus] Additional exercises

### Lists

a) Write the function **compute_mean(list_of_numbers)** which takes a list of numbers as parameters and returns the average of these numbers.

Examples:

compute_mean([2, 4, 0, 2, 4, 0]) = 2.0

compute_mean([1, 1, 1]) = 1.0

In [ ]:
def compute_mean(list_of_numbers):
    # to do
    return mean

print(compute_mean([2, 4, 0, 2, 4, 0]))
print(compute_mean([1, 1, 1]))

2.0
1.0

In [109]:
def compute_mean(list_of_numbers):
    mean = sum(list_of_numbers) / len(list_of_numbers)
    return mean

print(compute_mean([2, 4, 0, 2, 4, 0]))
print(compute_mean([1, 1, 1]))

2.0
1.0

b) Write the function **find_biggest_squared(threshold)** which takes a threshold as a parameter and returns the largest square strictly less than this threshold.

Examples:

find_biggest_squared(10) = 9

find_biggest_squared(287389713) = 287370304

In [110]:
import math

In [ ]:
def find_biggest_squared(threshold):
    # to do
    return biggest_squared

print(find_biggest_squared(10))
print(find_biggest_squared(287389713))

9
287370304

In [125]:
#Let's try
def find_biggest_squared(threshold):
    biggest_squared= None
    for i in range(int(threshold**0.5),0,-1):
        square = i**2
        if square <=threshold:
            biggest_squared = square
            break
    return biggest_squared

print(find_biggest_squared(10))
print(find_biggest_squared(287389713))

9
287370304

### Data structures

c) Write the function **count_nucleic_acid(dna)** which takes as parameters a character string representing a DNA and the function will return a dictionary having as key the different nucleic acids (a, c, g, t) and for values ​​the number of times this acid was present in the character string. (NB: A string is a list of characters over which we can iterate...)

Examples:

count_nucleic_acid("tacgtagctagtacgtacgtgatgcatgcatcgatgctagctcgatcgag") = {'a': 12, 'c': 11, 'g': 14, 't': 13}

count_nucleic_acid("cgtagcatcaatcgatcgagatcgaatacgatagatcgatgatcgatcgaca") = {'a': 18, 'c': 11, 'g': 12, 't': 11}

In [ ]:
def count_nucleic_acid(adn):
    # to do
    d = {}
    return d

print(count_nucleic_acid("tacgtagctagtacgtacgtgatgcatgcatcgatgctagctcgatcgag"))
print(count_nucleic_acid("cgtagcatcaatcgatcgagatcgaatacgatagatcgatgatcgatcgaca"))

{'a': 12, 'c': 11, 'g': 14, 't': 13}
{'a': 18, 'c': 11, 'g': 12, 't': 11}

In [14]:
#Let's try
def count_nucleic_acid(adn):
    d = {}
    d["a"]=adn.count("a")
    d["c"]=adn.count("c")
    d["g"]=adn.count("g")
    d["t"]=adn.count("t")
    
    return d

print(count_nucleic_acid("tacgtagctagtacgtacgtgatgcatgcatcgatgctagctcgatcgag"))
print(count_nucleic_acid("cgtagcatcaatcgatcgagatcgaatacgatagatcgatgatcgatcgaca"))

{'a': 12, 'c': 11, 'g': 14, 't': 13}
{'a': 18, 'c': 11, 'g': 12, 't': 11}

### Date functions

d) Write the function **get_future_day_of_week(nb_days_since_today)** which returns the day of the week that will be the n-th day from today (where O = Monday, 6 = Sunday). By default, the function will return today's day. (NB: you will need to use the datetime library with two date and timedelta modules)

Examples:

get_future_day_of_week() = 4 (Friday)

get_future_day_of_week(nb_days_since_today=20) = 3 (Thursday)

In [10]:
from datetime import date, timedelta

def get_future_day_of_week(nb_days_since_today=0):
    # to do
    return day_of_week

print(get_future_day_of_week())
print(get_future_day_of_week(nb_days_since_today=20))

NameError: name 'day_of_week' is not defined

In [11]:
#Let's try it !!!
from datetime import date, timedelta

def get_future_day_of_week(nb_days_since_today=0):
    newDate = date.today() + timedelta(days=nb_days_since_today)
    day_of_week = newDate.weekday()
    # Define a list of day names
    days_of_week_names = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"]

    # Get the day name from the list
    day_name = days_of_week_names[day_of_week]
    return day_name

print(get_future_day_of_week())
print(get_future_day_of_week(nb_days_since_today=23))

Thursday
Saturday

e) Write the function **nb_days_between(start_date, end_date)** which returns the number of days between two dates in YYYY/MM/DD format.

Examples:

count_days_between("2019/09/05", "2021/05/17") = 620

nb_days_between("1492/10/12", "2021/10/11") = 193212

In [ ]:
from datetime import datetime

def nb_days_between(start_date, end_date):
    difference = # to do
    return difference.days

print(nb_days_between("2019/09/05", "2021/05/17"))
print(nb_days_between("1492/10/12", "2021/10/11"))

620
193212

In [12]:
#Let's try it !!!
from datetime import datetime

def nb_days_between(start_date, end_date):
    start_year, start_month, start_day = map(int, start_date.split("/"))
    end_year, end_month, end_day = map(int,end_date.split("/"))
    
    # Create datetime objects using the parsed dates
    # Consider not to use datetime.date to define objects
    start = datetime(start_year, start_month, start_day)
    end = datetime(end_year, end_month, end_day)
    
    difference = end - start 
    return difference.days

print(nb_days_between("2019/09/05", "2021/05/17"))
print(nb_days_between("1492/10/12", "2021/10/11"))

620
193212

f) [Difficult and to be done last] Write the function **time_function(function)** which takes a function as a parameter and returns its execution time in microseconds. We will limit ourselves to functions that do not take an input parameter. (More advanced exercise for those who wish)

In [6]:
from datetime import datetime

def time_function(function, *args):
    # to do
    return duration.microseconds

print(time_function(get_current_date))
print(time_function(get_future_day_of_week))
print(time_function(count_nucleic_acid, "tacgtagctagtacgtacgtgatgcatgcatcgatgctagctcgatcgag"))

NameError: name 'get_current_date' is not defined

In [19]:
#Let's try it!!
from datetime import datetime
import time
# Example function: get_current_date
def get_current_date():
    return datetime.now()

def time_function(function, *args):
    
    #log startTime
    startTime = datetime.now()
    #call callback function
    result = function(*args)
    #time.sleep(1)
    #Log endTime
    endTime = datetime.now()
    #debug why startTime is always equal endTime ???
    print(endTime , startTime)
    #calculate duration 
    duration = endTime - startTime
    return duration.microseconds

print(time_function(get_current_date))
print(time_function(get_future_day_of_week))
print(time_function(count_nucleic_acid, "tacgtagctagtacgtacgtgatgcatgcatcgatgctagctcgatcgag"))

2023-11-02 19:12:36.827062 2023-11-02 19:12:36.827062
0
2023-11-02 19:12:36.827062 2023-11-02 19:12:36.827062
0
2023-11-02 19:12:36.827062 2023-11-02 19:12:36.827062
0

### Character strings

g) Download [this text](https://drive.google.com/file/d/1KkYmmAhOVrleMgtTcIIwA7iXaStIvpET/view?usp=sharing) and load it. We will use the code below for this.

The text comes from the generator https://www.lipsum.com)

In [178]:
with open("en_text.txt") as file:
    text = file.read()

print(text)

ï»¿Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.

h) Determine the five characters most present in the text (with its number of occurrences). You can use the collections library with the Counter module to go faster.

---

In [179]:
from collections import Counter

#to do

In [180]:
Counter(text)

Counter({' ': 59,
         'e': 37,
         't': 31,
         'n': 28,
         's': 21,
         'i': 20,
         'a': 17,
         'o': 15,
         'r': 14,
         'm': 13,
         'y': 12,
         'p': 11,
         'u': 11,
         'd': 11,
         'l': 10,
         'h': 8,
         'c': 7,
         'g': 6,
         'b': 4,
         'v': 4,
         'k': 4,
         'I': 3,
         'f': 3,
         '.': 3,
         ',': 3,
         'L': 2,
         'x': 2,
         '0': 2,
         'w': 2,
         'ï': 1,
         '»': 1,
         '¿': 1,
         "'": 1,
         '1': 1,
         '5': 1})

In [183]:
Counter(text).most_common(3)

[(' ', 59), ('e', 37), ('t', 31)]

i) What is the longest word in the text? You can study the arguments of the function max...

In [ ]:
max(# to do)

'ressemblent'

In [200]:
longestWord=0
remindedWord = ""
words = text.split()
for word in words:
    
    if len(word.strip(".,!?;:'\"()[]{}"))> len(remindedWord):
        remindedWord = word
        print(remindedWord, len(remindedWord))

ï»¿Lorem 8
typesetting 11